@import "../../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Arimo");
@import url("https://fonts.googleapis.com/css?family=Arapey|Quicksand|Rokkitt");

/**
variables
*/
$font-title: "Arapey", serif;
$primary-color: rgb(252, 189, 15) !important;
$secondary-color: #711ea1;
$bg-color: rgb(239, 241, 243);
//mixins declaration

@mixin banner-skew {
  content: "";
  z-index: 20;
  position: absolute;
  text-align: center;
  font-family: $font-title;
  font-size: 2em;
  color: #ffffff;
  transform: skew(-35deg);
  width: 280px;
  height: 160px;
  background-color: $primary-color;
  -webkit-box-shadow: 44px 7px 74px -4px rgba(0, 0, 0, 0.77);
  -moz-box-shadow: 44px 7px 74px -4px rgba(0, 0, 0, 0.77);
  box-shadow: 44px 7px 74px -4px rgba(0, 0, 0, 0.77);
  animation: banner-appears 0.23s forwards;
  transition-timing-function: cubic-bezier(0.22, 1.29, 0.82, 1.6);
}
@mixin banner-skew-big {
  content: "";
  @include banner-skew;
  width: 50vw;
  height: 80vh;
  margin-top: 0%;
  margin-left: -16%;
  background-image: linear-gradient(-35deg, rgba(4, 0, 0, 0.5), #fcbd0f);
}

@mixin banner-text {
  z-index: 20;
  position: absolute;
  text-align: center;
  font-family: $font-title;
  font-size: 1.6em;
  padding: 0.4em;
  color: $secondary-color;
  top: 70%;
  left: 20%;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

body {
  background-color: $bg-color;
  position: relative;
}
.container-fluid {
  width: 100%;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

//header///////////////

#header-top {
  margin-top: 21rem !important;
}

//navigation////////////

.menu h5:hover {
  cursor: pointer;
  color: $secondary-color !important;
}

.navbar {
  padding: 0;
}

.bg-dark {
  background-color: $primary-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
}

.text-white {
  padding: 1rem 2rem 1rem 3rem;
}

.navbar-dark .navbar-toggler {
  position: absolute;
  top: 2rem;
  right: 3rem;
  font-size: 2.25rem !important;
  line-height: 1 !important;
  border: 1px solid transparent !important;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url(../assets/images/if_menu-alt_134216.svg);
}

.navbar-dark .navbar-toggler-icon-close {
  background-image: url(../assets/images/close.svg);
}

.menu {
  display: flex;
  max-width: 40vw;
  flex-wrap: wrap;
}

.text-muted-wrapper {
  padding: 1rem;
  max-width: 20vw;
}

.text-muted {
  color: #ffffff !important;
  position: relative;
  top: 1rem;
  left: -2rem;
}

button:focus {
  outline: none !important;
}

//////navigation arrows/////

.down-arrow {
  right: 5rem;
  bottom: 3rem;
  z-index: 100;
  position: fixed;
  &:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.08s ease-out;
  }
}
.up-arrow-light {
  right: 5rem;
  bottom: 7rem;
  z-index: 100;
  position: fixed;
  transform: rotate(180deg);
  display: none;
  &:hover {
    cursor: pointer;
    transform: scale(1.2) rotate(180deg);
    transition: 0.08s ease-out;
  }
}
.arrow-down-light {
  right: 5rem;
  bottom: 3rem;
  z-index: 10;
  position: fixed;
  display: none;
  &:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.08s ease-out;
  }
}

//welcome text and intro

@media screen and (max-width: 720px) {
  svg {
    margin-left: 40vw;
    transform: scale(0.7);
  }
  .navbar-toggler {
    transform: scale(0.8);
    right: 1rem !important;
  }
}

.text-ani {
  margin-left: 5em;
  margin-top: -60em;
}

.intro {
  width: 100vw;
  height: 100vh;
}

@include keyframes(introAni) {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

svg.intro {
  bottom: 7rem;
  position: relative;
  max-width: 900px;
  max-height: 347px;

  .text {
    display: none;
  }
  &.go {
    .text {
      font-family: $font-title;
      display: block;
    }
    .text-stroke {
      fill: none;
      stroke: white;
      stroke-width: 2.8px;
      stroke-dashoffset: -900;
      stroke-dasharray: 900;
      stroke-linecap: round;
      stroke-linejoin: round;
      animation: dash 1s ease-in-out forwards;
    }
    .text-stroke:nth-child(2) {
      animation-delay: 0.1s;
    }
    .text-stroke:nth-child(3) {
      animation-delay: 0.5s;
    }
    .text-stroke-2 {
      stroke: $secondary-color;
      animation-delay: 0.9s;
    }
    .text-stroke:nth-child(5) {
      animation-delay: 1.1s;
    }
    .text-stroke:nth-child(6) {
      animation-delay: 1.5s;
    }
  }
}

@include keyframes(dash) {
  100% {
    stroke-dashoffset: 0;
  }
}

.profile {
  width: 425px;
}

//center element to control 3dEffect
#dummy-helper {
  visibility: hidden;
  position: relative;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: $primary-color;
}

.intro-polygon {
  perspective: 40px;
  width: 50vw;
  top: -21rem;
  position: relative;
  height: 88vh;
  transform: skewY(35deg);
  right: -60em;
  max-height: 88vh;
  overflow: hidden;
  transform: skewY(35deg);
  background: linear-gradient(-184deg, rgb(252, 189, 15), rgb(248, 203, 78));
  -webkit-box-shadow: -44px 47px 74px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: -44px 47px 74px rgba(0, 0, 0, 0.67);
  box-shadow: -44px 47px 74px rgba(0, 0, 0, 0.67);
  transition: transform 1s;
  transition-timing-function: cubic-bezier(0.22, 1.29, 0.82, 1.6);
}

.intro-polygon::before {
  content: "";

  margin: 13rem 8rem;
  background-image: url(../assets/images/Sergio-2.png);
  background-repeat: no-repeat;
  background-position: -150px -100px;
  position: absolute;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: skewY(-35deg);
  transform: skewY(-35deg);
  width: 100%;
  height: 150%;
  filter: contrast(107%);
  -webkit-filter: contrast(107%);
}

/**
//projects section gallery/////
*/

.upcoming{
  margin: 2em 3em;
  min-height: 500px;
}

.gallery {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  margin: auto;
  border-radius: 3px;
  overflow: hidden;
  justify-content: center;
}

.img-c {
  width: 33%;
  min-width: 300px;
  height: 450px;
  float: left;
  position: relative;
  overflow: hidden;
}

.img-w {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: transform ease-in-out 300ms;
}

.img-w img {
  display: none;
}

.img-c {
  transition: width ease 400ms, height ease 350ms,
    left cubic-bezier(0.4, 0, 0.2, 1) 420ms,
    top cubic-bezier(0.4, 0, 0.2, 1) 420ms;
}

.img-c:hover .img-w {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  transform: scale(1.08);
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 450ms;
}

@include keyframes(banner-appears) {
  0% {
    top: 100%;
    left: 0%;
  }

  100% {
    top: 70%;
    left: 10%;
  }
}

.img-c:hover .project-0::after {
  content: "Cocktail App";
  @include banner-text;
}

.img-c:hover .project-0::before {
  @include banner-skew;
}

.img-c:hover .project-1::after {
  content: "React + ThreeJS";
  @include banner-text;
}
.img-c:hover .project-1::before {
  @include banner-skew;
}

.img-c:hover .project-2::after {
  content: "Project-2";
  @include banner-text;
}
.img-c:hover .project-2::before {
  @include banner-skew;
}

.img-c:hover .project-3::after {
  content: "Project-3";
  @include banner-text;
}
.img-c:hover .project-3::before {
  @include banner-skew;
}

.img-c:hover .project-4::after {
  content: "Project-4";
  @include banner-text;
}
.img-c:hover .project-4::before {
  @include banner-skew;
}

.img-c:hover .project-5::after {
  content: "Project-5";
  @include banner-text;
}
.img-c:hover .project-5::before {
  @include banner-skew;
}

.img-c.active {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  z-index: 2;
  // transform: translateX(-50%);
}

.img-c.active::before {
  @include banner-skew-big;
}

.img-c.active::after {
  content: "";
  text-align: center;
  font-family: $font-title;
  font-size: 10.6em;
  padding: 0.4em;
  display: block;
  position: absolute;
  background-image: linear-gradient(to top, #711ea1 0, #711ea191 100%);
  height: 100%;
  width: 100%;
}

.img-c.postactive {
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

.img-c.active.positioned {
  left: 0 !important;
  top: 0 !important;
  transition-delay: 50ms;
}
.img-c.active.positioned {
  left: 0 !important;
  top: 0 !important;
  transition-delay: 50ms;
}

/*
Project related informations

*/

.infos {
  position: absolute;
  top: 146em;
  left: 11em;
}

.project-infos {
  h2 {
    position: relative;
    font-family: $font-title;
    z-index: 3;
    font-size: 6em;
    color: white;
  }
  h6 {
    position: relative;
    font-family: $font-title;
    z-index: 3;
    font-size: 1.9em;
    color: white;
  }

  p {
    position: relative;
    font-family: $font-title;
    z-index: 3;
    font-size: 1em;
    color: white;
  }
}

button {
  width: 200px !important;
}

/////summary//////
.contact {
  width: 100%;
  min-height: 1000px;
  padding: 4em;
  background-color: $primary-color;
  font-family: $font-title;
  h1 {
    color: $secondary-color;
  }
  .tagline-contact {
    font-size: 1.3em;
  }
  p {
    font-size: 1.1em;
  }
  .text-uppercase > * {
    fill: #711ea1;
  }
  .text-uppercase a:hover {
    color: white;
  }
}

//buttons

input[type="submit"] {
  min-width: 200px;
  margin-top: 1em;
  color: $secondary-color;
  font-size: 1.15em;
  border-color: $secondary-color;
}

.links {
  margin: 7em 24em 0 24em;
  text-align: center;
}

/**
Media queries
*/ //

@media screen and (max-width: 1400px) {
  .intro-text {
    font-size: 3.7rem;
  }
  .intro-img {
    height: 77vh;
  }
  .links {
    margin: 4em 20em 0 20em !important;
  }
}

@media screen and (max-width: 1120px) {
  .intro-text {
    max-width: 100vw;
  }
  .intro-img {
    width: 100vw;
    background: linear-gradient(-216deg, white 23%, blue 23.1%);
  }
  .links {
    margin: 4em 10em 0 10em;
  }
}

@media screen and (max-width: 720px) {
  .intro-text {
    text-align: center;
    margin: 5rem 1.5rem 0rem 2rem !important;
    font-size: 8.6vw;
  }
  .links {
    margin: 2em 3em 0 3em !important;
  }
}
/* desktop-x-small */
@media all and (min-width: 0) and (max-width: 480px) {
  .header {
    height: 65vh;
    width: 100%;
  }
  .links {
    margin: 4em 3em 0 3em !important;
  }
  ul {
    margin-left: 0 !important;
  }
  .contact {
    padding: 3em;
  }
}

/* desktop-small */
@media all and (min-width: 481px) and (max-width: 840px) {
  .header {
    height: 65vh;
    width: 100%;
  }
  .contact {
    padding: 5em;
  }
  .links {
    margin: 4em 3em 0 3em !important;
  }
}

/* desktop-medium */
@media all and (min-width: 841px) and (max-width: 1280px) {
  .header {
    height: 95vh;
    width: 100%;
  }
  .contact {
    padding: 6em;
  }
  ul li p {
    text-align: left;
    margin-left: 1em;
  }
  .links {
    margin: 4em 6em 0 6em !important;
  }
}

/* desktop-large */
@media all and (min-width: 1281px) and (max-width: 1600px) {
  .header {
    height: 30vh;
    width: 100%;
  }

  .intro-polygon {
    right: -40em;
    top: -35rem;
  }
  .intro-polygon::before {
    content: "";
    margin: 8rem 8rem;
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: -140px -80px;
    position: absolute;
  }
  .text-ani {
    margin-left: -6em;
    margin-top: -71em;
    transform: scale(0.72, 0.72);
  }
  .infos {
    top: 140em;
    left: 5em;
  }

  #hamburger-icon {
    right: 0em !important;
  }
  .down-arrow {
    right: 4em !important;
  }

  .up-arrow-light {
    right: 4rem;
  }
  .arrow-down-light {
    right: 4rem;
  }
  ul li p {
    text-align: left;
    margin-left: 4em;
  }
  .contact {
    padding: 8em;
  }
}

/* desktop-xlarge */
@media all and (min-width: 1601px) {

  ul li p {
    text-align: left;
    margin-left: 5em;
  }
  .contact {
    padding: 8em;
  }
}
