@import "../../node_modules/bootstrap/scss/bootstrap";
<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');

@import url('https://fonts.googleapis.com/css?family=Arimo');

=======
@import url("https://fonts.googleapis.com/css?family=Arimo");
>>>>>>> bb88681c7e7f4e1db0f3c1ac2b51a8ac8f0f6607

/* desktop-x-small */
@media all and (min-width: 0) and (max-width: 480px) {
  .canvas-canvas {
    height: 65vh;
    width: 100%;
  }
}

/* desktop-small */
@media all and (min-width: 481px) and (max-width: 840px) {
  .canvas-canvas {
    height: 65vh;
    width: 100%;
  }
}

/* desktop-medium */
@media all and (min-width: 841px) and (max-width: 1280px) {
  .canvas-canvas {
    height: 95vh;
    width: 100%;
  }
}

/* desktop-large */
@media all and (min-width: 1281px) and (max-width: 1600px) {
  .canvas-canvas {
    height: 70vh;
    width: 100%;
  }
}

/* desktop-xlarge */
@media all and (min-width: 1601px) {
  .canvas-canvas {
    height: 95vh;
    width: 100%;
  }
}



.container-fluid {
  width: 100%;

  padding-right: 0px !important;
  padding-left: 0px !important;
}

body {
  background-color: #f5f6f7;
}

//canvas///////////////

#top {
  margin-top: 21rem !important;
}

//navigation////////////

.navbar {
  padding: 0;
}

.bg-dark {
  background-color: rgb(252, 189, 15) !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
}

.text-white {
  padding: 1rem 2rem 1rem 3rem;
}

.navbar-dark .navbar-toggler {
  position: absolute;
  top: 2rem;
  right: 3rem;
  font-size: 2.25rem !important;
  line-height: 1 !important;
  border: 1px solid transparent !important;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url(../assets/images/if_menu-alt_134216.svg);
}

.navbar-dark .navbar-toggler-icon-close {
  background-image: url(../assets/images/600a68c9-96c6-444c-93ba-b3a4d7f6a06c.svg);
}
#change-header {
  background-image: url(../assets/images/exchange-alt-solid.svg);
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
  font-size: 2.25rem !important;
}

.menu {
  display: flex;
  max-width: 40vw;
  flex-wrap: wrap;
}

.text-muted-wrapper {
  padding: 1rem;
  max-width: 20vw;
}

.text-muted {
  color: #ffffff !important;
  position: relative;
  top: 3.5rem;
  left: -2rem;
}

button:focus {
  outline: none !important;
}

//////

.arrow-down {
  position: relative;
  float: right;
  margin-right:1rem;
}

svg {
  margin-left: 47vw;
  bottom: 9rem;
  position: relative;
}

#scroll-arrow-bottom {
  bottom: -26rem;
  transform: rotateZ(180deg);
}

@media screen and (max-width: 720px) {
  svg {
    margin-left: 40vw;
    transform: scale(0.7);
  }
  .navbar-toggler {
    transform: scale(0.8);
    right: 1rem !important;
  }
}

//welcome text and intro

.intro {
  width: 100vw;
  height: 100vh;
  font-family: "Poiret One", cursive;
<<<<<<< HEAD

  
  
=======
>>>>>>> bb88681c7e7f4e1db0f3c1ac2b51a8ac8f0f6607
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}


@include keyframes(introAni) {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.intro-text {
  margin: 17.5rem 3rem 0rem 7rem !important;
  z-index: 1100 !important;
  max-width: 40vw;
<<<<<<< HEAD

  font-family: 'Arimo', sans-serif;
  font-weight: 600;
  font-size: 3.8rem;
  -webkit-animation: introAni 1.2s cubic-bezier(.2,.6,.2,1);
  -moz-animation: introAni 1.2s cubic-bezier(.2,.6,.2,1);
  animation:introAni  1.2s cubic-bezier(.2,.6,.2,1);
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
=======
  font-weight: 600;
  font-family: "Arimo", sans-serif;
}

svg.intro {
  margin-left: 4vw;
  bottom: 9rem;
  position: relative;
  width: 804px;
  max-height: 347px;

  .text {
    display: none;
  }
  &.go {
    .text {
      font-family: "Arimo", sans-serif;
      display: block;
    }
    .text-stroke {
      fill: none;
      stroke: white;
      stroke-width: 2.8px;
      stroke-dashoffset: -900;
      stroke-dasharray: 900;
      stroke-linecap: butt;
      stroke-linejoin: round;
      animation: dash 1s ease-in-out forwards;
    }
    .text-stroke:nth-child(2) {
      animation-delay: 0.1s;
    }
    .text-stroke:nth-child(3) {
      animation-delay: 0.5s;
    }
    .text-stroke-2 {
      stroke: #711ea1;
      animation-delay: 0.9s;
    }
    .text-stroke:nth-child(5) {
      animation-delay: 1.1s;
    }
    .text-stroke:nth-child(6) {
      animation-delay: 1.5s;
    }
  }
}

@-webkit-keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}
@-moz-keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}
@-o-keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
>>>>>>> bb88681c7e7f4e1db0f3c1ac2b51a8ac8f0f6607
}

.intro-img {
  width: 50vw;
  height: 88vh;
  transform: skewY(35deg);
<<<<<<< HEAD
  background-color: blue;

=======
  background: linear-gradient(-184deg, rgb(252, 189, 15), rgb(248, 203, 78));
  -webkit-box-shadow: -44px 47px 74px -34px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: -44px 47px 74px -34px rgba(0, 0, 0, 0.67);
  box-shadow: -44px 47px 74px -34px rgba(0, 0, 0, 0.67);
>>>>>>> bb88681c7e7f4e1db0f3c1ac2b51a8ac8f0f6607
}





@media screen and (max-width: 1400px) {
  .intro-text {
    font-size: 3.7rem;
  }
  .intro-img {
    height: 77vh;
  }
}

@media screen and (max-width: 1120px) {
  .intro-text {
    max-width: 100vw;
  }
  .intro-img {
    width: 100vw;
    background: linear-gradient(-216deg, white 23%, blue 23.1%);
  }
}

@media screen and (max-width: 720px) {
  .intro-text {
    text-align: center;
    margin: 5rem 1.5rem 0rem 2rem !important;
    font-size: 8.6vw;
  }
}
